runs/
yolov8x.pt
videos/*

yolov5xu.pt
training/football-players-detection-1/football-players-detection-1


models/*

training/football-players-detection-1/test
training/football-players-detection-1/train
training/football-players-detection-1/valid